@media (prefers-color-scheme: dark) {
    .title {
        color: #ffffff !important;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }

    .alert {
        background-color: #333 !important;
    }
}

.fs2 {
    font-size: 2rem;
}

.fs1 {
    font-size: 1rem;
}

.title {
    text-align: left;
    /* 使用 Flexbox 布局 */
    max-width: 80%;
    /* 字体大一些 */
    /* 阴影效果 */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    /* 斜体 */
    font-style: italic;
    /* 文字颜色 */
    color: #333;
    /* 添加一个过渡效果，使 hover 效果更平滑 */
    transition: all 0.3s ease;
    white-space: nowrap;
}

.title:hover {
    /* 鼠标悬停时阴影效果更明显 */
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
    /* 稍微改变文字颜色 */
    color: #0070f3;
}

.menu_bar {
    display: block;
    background: #333;
    padding: 0;
    margin: 0;
    list-style: none;
}

.menu_item {
    display: block !important;
    position: relative;
    border-left-style: solid;
    border-width:medium;
    max-height: 1.5rem;
    gap: 8px;  /* 文字和箭头之间的间距 */
    padding: 0 12px; 
}

.menu_link {    
    display: block;
    background-color: #fff;
    padding: 14px 20px;
    text-decoration: none;
    cursor: pointer;
    transition: background 0.2s;
    border-bottom-style: solid;
    border-bottom-color: #0e6cd7;
}

.menu_link:hover {
    background: #444;
    color: #FFF;
}
.menu_link:active {
    background: #444;
    color: #FFF;
}

.submenu {
    display: block !important;
    position: absolute;
    left: 0;
    top: 100%;
    max-height: 0;
    min-width: 160px;
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: -1;
    overflow: hidden;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
    transition: max-height 0.5s ;
    
}

.menu_item:hover>.submenu {
    max-height: 1000px;
}

.menu_item:active>.submenu {
    max-height: 1000px;
}

.submenu li a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    transition: background 0.2s;
}

.submenu li a:hover {
    background: #555;
}

.arrow {
    display: inline-flex;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 15px solid black;
    position: relative;  /* 改为相对定位 */
    transform: rotate(0deg);
    transition: transform 0.5s;
    margin-left: 4px;  /* 和文字之间添加间距 */
}

.menu_item:active .arrow {
    transform: rotate(180deg);
}

.menu_item:hover .arrow {
    transform: rotate(180deg);
}

.vote_button {
    display: inline-flex;
    align-items: center;
    padding: 3px 3px 3px 3px;
    border-style: solid;
    border-width: medium;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.vote_button > button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 1.5rem;
    height: 1.5rem;
    border: none;   
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease
}

.vote_button > button > span {
    font-family: 'JetBrains Mono', 'Fira Mono', 'Consolas', monospace;
    line-height: 1;
    font-size: 1.3rem;
    font-style: normal; 
    vertical-align: middle;
    line-height: 1;
    display: inline-block;
}

.vote_button > button:hover {
    background-color: #f0f0f0;
    transform: scale(1.1);
}

.alert {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* 让 message 水平居中 */
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #888;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    padding: 1.5rem 2rem 2.5rem 2rem; /* 底部多留空间给按钮 */
    z-index: 9999;
    min-width: 20rem;
    min-height: 10rem;
    position: fixed;
    background-color: #f0f0f0; ;
}

.alert_message, .alert > span {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    overflow: auto;
}

.alert > * {
    transition-duration: 0.5s;
}

.alert > button {
    position: absolute;
    right: 1.5rem;
    bottom: 1.2rem;
    background-color: transparent;
    padding:  0.5rem 1rem;
}

.alert > button:hover {
    background-color: #f0f0f0;
    transform: scale(1.1);
    transition-duration: 0.5s;
}

.alert > title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

