.title {
    text-align: left;
    /* 使用 Flexbox 布局 */
    margin-top: 30px;

    max-width: 80%;
    /* 字体大一些 */
    font-size: 2rem;
    /* 阴影效果 */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    /* 斜体 */
    font-style: italic;
    /* 文字颜色 */
    color: #333;
    /* 添加一个过渡效果，使 hover 效果更平滑 */
    transition: all 0.3s ease;
}

.title:hover {
    /* 鼠标悬停时阴影效果更明显 */
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
    /* 稍微改变文字颜色 */
    color: #0070f3;
}

.menu_bar {
    display: block;
    background: #333;
    padding: 0;
    margin: 0;
    list-style: none;
}

.menu_item {
    display: block !important;
    position: relative;
    border-left-style: solid;
    border-width:medium;
    max-height: 1.5rem;
}

.menu_link {    
    display: block;
    color: #fff;
    padding: 14px 20px;
    text-decoration: none;
    cursor: pointer;
    transition: background 0.2s;
    border-bottom-style: solid;
    border-bottom-color: #0e6cd7;
}

.menu_link:hover {
    background: #444;
    color: #FFF;
}
.menu_link:active {
    background: #444;
    color: #FFF;
}

.submenu {
    display: block !important;
    position: absolute;
    left: 0;
    top: 100%;
    max-height: 0;
    min-width: 160px;
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 100;
    overflow: hidden;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
    transition: max-height 0.5s ;
    
}

.menu_item:hover>.submenu {
    max-height: 1000px;
}

.menu_item:active>.submenu {
    height: 1000px;
}

.submenu li a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    transition: background 0.2s;
}

.submenu li a:hover {
    background: #555;
}

.arrow {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 15px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    transition: transform 0.5s;
}

.menu_item:active .arrow {
    transform: translate(-50%, -50%) rotate(180deg);
}

.menu_item:hover .arrow {
    transform: translate(-50%, -50%) rotate(180deg);
}